<form [formGroup]="form">
    <h1 mat-dialog-title>{{ dialogTitle }}</h1>
    <mat-dialog-content>  
        <mat-form-field *ngIf="!isEmailForm">
          <input mdInput #displayName placeholder="Name" formControlName="displayName" maxlength="100" required/>
          <mat-hint align="end">{{displayName.value.length}} / 100</mat-hint>
          <mat-error *ngIf="form.controls.displayName.hasError('required')">              
            {{ errorMessageObject.displayNamerequired }}
          </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="isEmailForm">
          <input mdInput #email placeholder="Email" formControlName="email" maxlength="100" required/>
          <mat-hint align="end">{{email.value.length}} / 100</mat-hint>
          <mat-error *ngIf="form.controls.email.hasError('required')">
            {{ errorMessageObject.emailrequired }}              
          </mat-error>            
          <mat-error *ngIf="form.controls.email.hasError('email')">
            {{ errorMessageObject.emailemail }}
          </mat-error>
        </mat-form-field>        
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>cancel</button>
      <button mat-button mat-dialog-close [disabled]="form.invalid">edit</button>
    </mat-dialog-actions>
  </form>
  