<div class="container">  
  <vde-navigation *ngIf="showUIWhenNotLogin$ | async" 
    [appTitle]="appTitle$ | async"   
    (toggleSidenav)="sidenav.toggleSidenav()"
    [translations]="translations$ | async">
  </vde-navigation>
  <router-outlet></router-outlet>
  <vde-sidenav #sidenav 
    [isAuthenticated]="isAuthenticated$ | async"
    [translations]="translations$ | async"
    [isTranslating]="isTranslating"
    [language]="language$ | async"
    (toggleLanguage)="toggleLanguage()">
  </vde-sidenav>
</div>
