<form #replyform [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <h1 mat-dialog-title>
    Contact announcer
  </h1>
  <mat-dialog-content>
    <mat-form-field>
      <input matInput #email placeholder="Your email" formControlName="email" maxlength="100" required/>
      <mat-hint align="end">{{email.value.length}} / 100</mat-hint>      
      <mat-error *ngIf="form.controls.email.hasError('required')">
        {{ errorMessageObject.emailrequired }}
       </mat-error>
      <mat-error *ngIf="form.controls.email.hasError('email')">
       {{ errorMessageObject.emailemail }}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput matTextareaAutosize #message placeholder="Message" formControlName="message" maxlength="200" required></textarea>
      <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
      <mat-error *ngIf="form.controls.message.hasError('required')">
        {{ errorMessageObject.messagerequired }}
       </mat-error>
    </mat-form-field>
    <mat-form-field>      
      <input matInput placeholder="{{ number1 }} + {{ number2 }} = ?" formControlName="captchaAnswer" maxlength="2" required/>
      <mat-error *ngIf="form.controls.captchaAnswer.hasError('captcha') || form.controls.captchaAnswer.hasError('required')">
        {{ errorMessageObject.captchaAnswercaptcha }}
    </mat-error>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button *ngIf="!isBusy" mat-button mat-dialog-close>cancel</button>
    <button *ngIf="!isBusy" mat-button type="submit" [disabled]="form.invalid">send</button>
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-actions>
</form>