<div role="main">    
    <vde-toolbar-title [title]="translations?.my_posts"></vde-toolbar-title>
    <vde-add-post-button 
      [hidden]="isBusy"
      (openAddDialog)="openAddDialog()">
    </vde-add-post-button>
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>         
    <vde-posts-list 
      [userId]="user.uid"
      [photoURL]="user.photoURL"
      [isPostsByUser]="true"
      [translations]="translations"
      [posts]="posts">
    </vde-posts-list>
</div>