mat-dialog-content {
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
  }
}

mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
  position: relative;
  button {
    color: #2196f3;   
  }
}