<form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <h1 mat-dialog-title>{{ dialogTitle }}</h1>
  <mat-dialog-content>  
      <mat-form-field>
        <textarea 
          matInput 
          matTextareaAutosize 
          #title 
          formControlName="title" 
          maxlength="100" 
          placeholder="{{ translations?.title }}"
          required="true">
        </textarea>        
        <mat-hint align="end">{{title.value.length}} / 100</mat-hint>        
      </mat-form-field>
      <mat-form-field>
        <textarea 
          matInput 
          matTextareaAutosize 
          #description 
          formControlName="description" 
          maxlength="200" 
          placeholder="{{ translations?.description }}"
          required="true">
        </textarea>         
        <mat-hint align="end">{{description.value.length}} / 200</mat-hint>
      </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>    
    <button *ngIf="!isBusy" mat-button mat-dialog-close >{{ translations?.cancel }}</button>
    <button *ngIf="!isBusy" mat-button type="submit" [disabled]="form.invalid">{{ buttonSaveText }}</button>
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
  </mat-dialog-actions>
</form>
