<div role="main">
    <vde-profile-toolbar [profile]="profile$ | async"></vde-profile-toolbar>
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
    <mat-list *ngIf="profile">
        <mat-list-item>
            <mat-icon matListIcon class="material-icons">person</mat-icon>
            <p matLine>{{ profile.displayName }}</p>
            <p matLine>{{ translations?.name }}</p>
            <!-- <button class="mat-secondary" mat-button (click)="openFieldUpdateDialog('displayName', 'John')">
                <mat-icon class="material-icons">edit</mat-icon>
            </button>     -->        
        </mat-list-item>   
        
        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon matListIcon class="material-icons">email</mat-icon>
            <p matLine>{{ profile.email }}</p>
            <p matLine>{{ translations?.email }}</p>   
            <!-- <button class="mat-secondary" mat-button (click)="openFieldUpdateDialog('email', 'test@test.com')">
                <mat-icon class="material-icons">edit</mat-icon>
            </button>   -->          
        </mat-list-item>   

        <mat-divider></mat-divider>

    </mat-list>   
    
</div>