<h1 mat-dialog-title>{{ translations?.dialog?.delete?.title}}</h1>
<mat-dialog-content>
  {{ translations?.dialog?.delete?.message}}
</mat-dialog-content>
<mat-dialog-actions>
  <button *ngIf="!isBusy" mat-button mat-dialog-close>{{ translations?.cancel }}</button>
  <button *ngIf="!isBusy" mat-button (click)="delete()">{{ translations?.delete }}</button>
  <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
</mat-dialog-actions>
