<header>
  <mat-toolbar color="primary" class="menu">
      <h1>
        <span>{{ appTitle }}</span>
      </h1>  
      <button id="btn-sidenav-open" mat-button (click)="toggleSidenav.emit()">
        <mat-icon class="material-icons">menu</mat-icon>
      </button>
  </mat-toolbar>  
</header>
