header {
  width: 100vw;
  position: fixed;
  top: 0;
  -webkit-backface-visibility: hidden; 
  z-index: 2;
 
  .actions {
    padding: 10px;    
    display: flex;
    justify-content: center;
    background: pink;    

    button {
      margin-left: 2px;
    }
  }
  
}

h2 {
  padding: 10px 0;
  margin: 0;
  text-align: center;
  background-color: orange;
}

mat-toolbar.menu {
  display: flex;
  justify-content: center;
  flex-direction: row;

  #btn-sidenav-open {            
    min-width: 50px;
    padding: 0;
    position: absolute;
    top: 9px;
    right: 10px;

    mat-icon {
      font-size: 2rem;
    }
  }    
}

mat-toolbar.only-title {
  background-color: #C5CAE9;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 575px) and (orientation: landscape) {  

}