.sidenav {
  position: fixed;
  top: 0;
  transform: translateX(100%);
  background:  white;  
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 3;
  font-size: 1.2em;  
  overflow: auto;
}

.sidenav.open {
  transform: translateX(0);
  opacity: 1;
  transition: all 0.2s ease;
}

.back-button {
  width: 100%;
}

mat-toolbar-row.profile {
  .material-icons {
    font-size: 4rem;
  }
  position: relative;
  top: -30px;
  height: 100px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
} 

span::first-letter {
  text-transform: capitalize;
}