<div class="sidenav" #sidenav>    
  <mat-toolbar color="primary">          
    <div class="back-button" (click)="toggleSidenav()">
      <mat-icon class="material-icons">arrow_back</mat-icon>                
    </div>
  </mat-toolbar>  
    <mat-list>
      <mat-list-item *ngIf="!isAuthenticated" (click)="signIn()">
          <mat-icon matListIcon class="material-icons">power_settings_new</mat-icon>
          <span>{{ translations?.login }}</span>
      </mat-list-item>
      <mat-divider *ngIf="!isAuthenticated"></mat-divider>
      <mat-list-item (click)="navigateTo('/home')">
          <mat-icon matListIcon class="material-icons">home</mat-icon>
          <span>{{ translations?.home }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>                        
      <mat-list-item *ngIf="isAuthenticated" (click)="navigateTo('/profile')">
          <mat-icon matListIcon class="material-icons">account_circle</mat-icon>
          <span>{{ translations?.my_profile }}</span>
      </mat-list-item>
      <mat-divider *ngIf="isAuthenticated"></mat-divider>
      <mat-list-item *ngIf="isAuthenticated" (click)="navigateTo('/posts')">
          <mat-icon matListIcon class="material-icons">directions_car</mat-icon>
          <span>{{ translations?.my_posts }}</span>
      </mat-list-item>       
      <mat-divider *ngIf="isAuthenticated"></mat-divider>
      <mat-list-item (click)="navigateTo('/help')">
        <mat-icon matListIcon class="material-icons">help</mat-icon>
        <span>{{ translations?.help }}</span>
    </mat-list-item>

    <mat-divider></mat-divider>
    <mat-list-item (click)="doToggleLanguage()">
      <mat-icon matListIcon class="material-icons">language</mat-icon>
      <span>{{ languageText }}</span> <mat-progress-bar *ngIf="isTranslating" mode="indeterminate"></mat-progress-bar>
    </mat-list-item>       
    <mat-divider></mat-divider>

    <mat-list-item *ngIf="isAuthenticated" (click)="signOut()">
      <mat-icon matListIcon class="material-icons">exit_to_app</mat-icon>
      <span>{{ translations?.logout }}</span>
    </mat-list-item>
    <mat-divider *ngIf="isAuthenticated"></mat-divider>    
    
  </mat-list>    
</div>