@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/scss/main.scss";

// Import your custom input theme file so you can call the custom-input-theme function
/* @import 'assets/scss/custom-theme.scss'; */

/* You can add global styles to this file, and also import other style files */
html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100%;
}

button {  
  text-transform: uppercase;
}