<div role="main">
    <vde-toolbar-title [title]="translations?.help"></vde-toolbar-title>
    <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let help of helps">
        <mat-expansion-panel-header>      
          <mat-panel-description>
            <span>{{ help.question }}</span>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ help.answer }}</p>
      </mat-expansion-panel>      
  </mat-accordion>
</div>