<div role="main">
  <vde-add-post-button 
    [hidden]="isBusy" 
    [isAuthenticated]="isAuthenticated"
    (navigateToLogin)="navigateToLogin()"
    (openAddDialog)="openAddDialog()">
  </vde-add-post-button>
  <mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>
  <vde-posts-list 
    [posts]="posts"
    [isPostsByUser]="false"
    [translations]="translations">
  </vde-posts-list>
</div>