<mat-toolbar>  
  <div class="profile">
    <img class="img-circular" [src]="profile.photoURL" [attr.alt]="profile.displayName" [attr.title]="profile.displayName"/>
  </div>  
</mat-toolbar>
<mat-progress-bar *ngIf="isBusy" mode="indeterminate"></mat-progress-bar>