  mat-toolbar-row.mat-toolbar-row {
    .material-icons {
      font-size: 4rem;
    }
  }

mat-toolbar {
  height: 70px;
  background-color: #C5CAE9;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.profile {
  width: 100%;
  text-align: center;
  .img-circular {
    width: 50px;
    height: 50px;  
    background-size: cover;
    border-radius: 50%;
  }

  span {
    display: block;
    width: 100%;   
  }
}