mat-toolbar.toolbar-fixed-title {
  position: fixed;    
  top:56px;  
  z-index: 2;
}

.toolbar-center-title {
  width: 100%;
  display: flex;
  justify-content: center;
  span::first-letter {
    text-transform: capitalize;
  }
}  