<div *ngIf="posts?.length === 0" class="no-data">{{ translations?.no_posts }}</div>
<mat-card *ngFor="let post of posts">
  <mat-card-header>
    <img mat-card-avatar [src]="photoURL || post.photoURL">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ translations?.publish_on }}&nbsp;: {{ post.dateCreatedFormated }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ post.description }}
    </p>
  </mat-card-content>
  <mat-card-actions *ngIf="!isPostsByUser">
    <!-- <button mat-button (click)="openReportDialog()">REPORT</button> -->
    <!-- <button mat-button (click)="openReplyDialog(post)">{{ translations?.reply }}</button> -->
  </mat-card-actions>
  <mat-card-actions *ngIf="isPostsByUser">
    <button mat-button (click)="openConfirmDeleteDialog(post.postId, userId)">{{ translations?.delete }}</button>
    <button mat-button (click)="openUpdatePostDialog(post, userId)">{{ translations?.edit }}</button>
  </mat-card-actions>
</mat-card> 