mat-card {
  margin-bottom: 3px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-start;
}

.no-data {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin-top: 50%;
}

.mat-card-subtitle::first-letter {
  text-transform: capitalize;
}